<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="pad-0 col-12 col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <h3 class="footer-info">CONTACTANOS EN NUESTRAS REDES</h3>
            </div>
            <div class="pad-0 col-12 col-xs-6 col-sm-5 col-md-4 col-lg-3 d-flex">
                <div><a href="#"><img class="redes" src="img/instagram.png" alt="Contactanos en Instagram"></a></div>
                <div><a href="#"><img class="redes" src="img/twitter.png" alt="Contactanos en Twitter"></a></div>
                <div><a href="#"><img class="redes" src="img/facebook.png" alt="Contactanos en Facebook"></a></div>
            </div>
        </div>
    </div>
</footer>